.App {
  background-color: white;
  text-align: center;
  color: black;
  text-align: -webkit-center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #538282;
}



.crudButtons *{
  display: inline-block;
}












